<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CarShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="catalogo">
            <h1>Listado de Accesorios</h1>
            <p>Total de accesorios: <span th:text="${totalAccesorios}"></span></p>

            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
                <tr th:each="accesorio : ${accesorios}">
                    <td th:text="${accesorio.idAccesorio}"></td>
                    <td th:text="${accesorio.nombre}"></td>
                    <td><img th:src="${accesorio.imagen}" alt="Imagen del Accesorio" width="100"></td>
                    <td th:text="${accesorio.precio}"></td>
                    <td th:text="${accesorio.activo} ? 'Sí' : 'No'"></td>
                    <td>
                        <a th:href="@{/accesorio/modificar/{idAccesorio}(idAccesorio=${accesorio.idAccesorio})}">Modificar</a>
                        <a th:href="@{/accesorio/eliminar/{idAccesorio}(idAccesorio=${accesorio.idAccesorio})}">Eliminar</a>
                    </td>
                </tr>
            </table>

            <a href="/accesorio/nuevo">Agregar Nuevo Accesorio</a>
        </div>
        <div>
            <a href="/index.html">Volver al Inicio</a><br>
            <a href="/accesorios.html">Volver a Accesorios</a>
        </div>
    </body>
</html>
